<h1>{{ heroNameSignal() }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ heroNameSignal() }}</dd>

  <td>Edad:</td>
  <dd>{{ heroAgeSignal() }}</dd>

  <td>Método:</td>
  <dd>{{ heroDescription() }}</dd>

  <td>Capitalizado:</td>
  <!-- <dd>{{ capitalizedName() }}</dd> -->
  <dd>{{ heroNameSignal() | uppercase }}</dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">Cambiar nombre</button>

<button (click)="changeAge()" class="btn btn-primary mx-2">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>
